@keyframes openAreaImprimir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.body-impressao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.area-imprimir {
  background: rgb(43, 151, 214);
  padding: 10px;
  opacity: 1;
  animation: openAreaImprimir 400ms;
}
.area-imprimir h3 {
  color: white;
  font-weight: 300;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.btn-confirme {
  display: block;
  text-align: center;
  background: white;
  margin: 5px;
  padding: 20px 0px;
  font-weight: 300;
  cursor: pointer;
}
.btn-confirme:active {
  background: rgb(0, 30, 48);
  color: white;
}
/* configurando area-imprimir */
.titulo-tmpresa {
  font-size: 0.8em;
  text-align: center;
}
.body-impressao {
  display: flex;
  flex-direction: column;
}
.dados-lavagem-imprimir {
  width: 50mm;
}
.item-dados {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
.item-dados-valor {
  width: 50mm;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item-dados-valor span:last-child {
  font-size: 1.2em;
  margin-top: 5px;
}
.item-dados-info p {
  width: 52mm;
  font-size: 0.6em;
  font-weight: 300;
}
