@media (max-width: 945px) {
  .area-principal {
    display: flex;
    flex-direction: column;
  }
  #area-imagem-inicial img {
    width: 350px;
  }
  .apresentacao-inicial {
    width: auto;
    height: 50%;
    margin-bottom: 25px;
  }
  #area-formulario {
    width: 100%;
  }
}
@media (max-width: 444px) {
  #area-imagem-inicial img {
    width: 70%;
  }
  .area-item {
    width: 100%;
  }
  .area-usuario-autenticacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .apresentacao-inicial {
    width: auto;
    height: 50%;
    margin-bottom: 25px;
  }
  .input-inicial {
    width: 100%;
  }
}
